<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} • Swot</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Revision done right">
    <meta name="keywords" content="Study,Revise,School,Teacher,Student">
    <meta name="author" content="Swot">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168890513-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-168890513-1');
    </script>


    {% block head_extra %}{% endblock %}
</head>
<body>
    {% include 'pages/navbar.html' %}

    {% block content %}

    {%  endblock %}
</body>
</html>
