<ul id="navbar">

    <li class="nav-item nav-left">
        <a class="no-decoration" href="{{ url_for("pages.index") }}">
            <p class="nav-brand">Home</p>
        </a>
    </li>

    <li class="nav-item nav-left">
        <a class="no-decoration" href="{{ url_for("pages.index") }}">
            <p class="nav-brand">About</p>
        </a>
    </li>

    <li class="nav-item nav-right">
        <a class="no-decoration" href="{{ url_for("pages.index") }}">
            <p class="nav-brand">Sign in</p>
        </a>
    </li>
</ul>