<ul id="navbar">

    <li class="nav-item nav-left">
        <a class="no-decoration" href="{{ url_for("index.index") }}">
            <p class="nav-brand">Home</p>
        </a>
    </li>

    <li class="nav-item nav-left">
        <a class="no-decoration" href="{{ url_for("index.about") }}">
            <p class="nav-brand">About</p>
        </a>
    </li>

    {% if not session["uid"] %}

    <li class="nav-item nav-right">
        <a class="no-decoration" href="{{ url_for("users.sign_up") }}">
            <p class="nav-brand">Sign up</p>
        </a>
    </li>

    <li class="nav-item nav-right">
        <a class="no-decoration" href="{{ url_for("users.sign_in") }}">
            <p class="nav-brand">Sign in</p>
        </a>
    </li>
    {% else %}
    <li class="nav-item nav-right">
        <a class="no-decoration" href="{{ url_for("users.user") }}">
            <p class="nav-brand">User settings</p>
        </a>
    </li>

    {% if user.type.value == "student" %}
    <li class="nav-item nav-right">
        <a class="no-decoration" href="{{ url_for("student.index") }}">
            <p class="nav-brand">Student portal</p>
        </a>
    </li>
    {% endif %}

    {% if user.type.value == "teacher" %}
    <li class="nav-item nav-right">
        <a class="no-decoration" href="{{ url_for("teacher.index") }}">
            <p class="nav-brand">Teacher portal</p>
        </a>
    </li>
    {% endif %}

    <li class="nav-item nav-right">
      <a class="no-decoration" onclick="document.getElementById('logout-form').submit()">
          <p class="nav-brand">Logout</p>
      </a>
    </li>
    {% endif %}
</ul>

<form method="POST" id="logout-form" action="{{ url_for('users.logout') }}">
  <input hidden type="text" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
