{%  extends 'pages/base.html' %}

{% block title %}Student portal{% endblock %}

{% block content %}
    <div class="html-mobile-background"></div>
    <div class="flex-container center-flex">
      <div class="user-container">
        <h1>Student classes</h1>
        <h3>Welcome back {{ user.full_name }}, your classes:</h3>

        <div class="container">
          <table class="teacher-class-table">
            <thead>
              <th>Class name</th>
              <th>Owner
            </thead>
            <tbody>
            {% for membership in user.classes %}
              <tr>
                <td>{{ membership.cls.name }}</td>
                <td>{{ membership.cls.owner.full_name }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="half-width-container">
          {% if error %}
            <span class="error">{{ error }}</span>
          {% endif %}
          <form class="form-inline" method="POST" action="{{ url_for("student.join") }}">
            <input type="text" hidden name="csrf_token" value="{{ csrf_token() }}"/>
            <input name="class_code" type="text" class="input-field white half-width no-vertical-margin" placeholder="Class code"/>
            <input type="submit" class="input-confirm quarter-width no-vertical-margin left-margin" value="Join class"/>
          </form>
        </div>

        <h1>Your upcoming tasks</h1>
        <p>Select task types to filter your list</p>

        <script>

        function changeFilters() {
          let classwork = document.querySelector("#classwork").checked;
          let revision = document.querySelector("#revision").checked;
          let homework = document.querySelector("#homework").checked;

          document.querySelectorAll("div[data-task='homework']").forEach(node => {
            node.style.display = homework ? '' : 'none'
          })

          document.querySelectorAll("div[data-task='revision']").forEach(node => {
            node.style.display = revision ? '' : 'none'
          })

          document.querySelectorAll("div[data-task='classwork']").forEach(node => {
            node.style.display = classwork ? '' : 'none'
          })
        }
        </script>

        <input type="checkbox" id="classwork" onclick="changeFilters()" checked><span class="task-type task-type-classwork">Classwork</span>
        <input type="checkbox" id="revision" onclick="changeFilters()" checked><span class="task-type task-type-revision">Revision</span>
        <input type="checkbox" id="homework" onclick="changeFilters()" checked><span class="task-type task-type-homework">Homework</span>

        {% for due_date, due_tasks in tasks %}
          <h2>{{ due_date }}</h2>
          {% for task in due_tasks %}
            <div class="task" data-task="{{task.type.value}}">
              <h3><span class="task-type task-type-{{task.type.value}}">{{task.type.value.title()}}</span> {{ task.title }}</h3>
              <p>{{ task.description }}</p>
              <p class="footer">{{ task.cls.name }} • Due {{ task.formatted_date }}</p>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
{% endblock %}
