<h1>Create user</h1>

<form method="POST">
    Username: <input type="text" name="username"/>
    <br/>
    Full name: <input type="text" name="full_name"/>
    <br/>
    Email: <input type="email" name="email"/>
    <br/>
    Password: <input type="password" name="password"/>
    <br/>
    Type:

    <br/>
    <input type="radio" id="student" name="type" value="student">
    <label for="student">Student</label><br>
    <input type="radio" id="teacher" name="type" value="teacher">
    <label for="teacher">Teacher</label><br>
    <input type="radio" id="parent" name="type" value="parent">
    <label for="parent">Parent</label>

    <input type="text" name="g-recaptcha" id="g-recaptcha" hidden/>

    <br/>
    <input type="submit" name="email">
</form>

{% include 'utils/recaptcha.html' %}
