{%  extends 'pages/base.html' %}

{% block title %}Sign in{% endblock %}

{% block content %}
    <div class="html-mobile-background"></div>
    <div class="flex-container">
      <div class="container">
          <h2 id="user-hero">Welcome back</h2>
          <h2 id="user-sub">Login to resume your learning</h2>
      </div>


      <div class="container user-form">
        <form id="form" method="POST" action="{{ url_for('users.sign_in') }}">
          {% if errors["email"] %}
            <span class="error">{{ errors["email"] }}</span>
          {% endif %}
          <input name="email" type="text" class="input-field" placeholder="Email"/>
          {% if errors["password"] %}
            <span class="error">{{ errors["password"] }}</span>
          {% endif %}
          <input name="password" type="password" class="input-field" placeholder="Password"/>


          <input name="g-recaptcha" id="g-recaptcha" hidden/>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

          <input type="submit" class="input-confirm" value="Sign in"/>
        </form>
      </div>
    </div>

    {% include "utils/recaptcha.html" %}
{% endblock %}
