{%  extends 'pages/base.html' %}

{% block title %}User portal{% endblock %}

{% block content %}
    <div class="html-mobile-background"></div>
    <div class="flex-container center-flex">
      <div class="user-container">
        <h1>User portal</h1>

        {% if user.type.value == "teacher" %}
          <a class="a-button" href="{{ url_for("teacher.index") }}">Visit teacher portal</a>
        {% endif %}

        {% if user.type.value == "student" %}
          <a class="a-button" href="{{ url_for("student.index") }}">Visit student portal</a>
        {% endif %}

        <h3>Information for {{ user.full_name }}</h3>
        <form>
            <label>Username:</label>
            <input type="text" class="input-field" disabled value="{{ user.username }}"/>

            <label>ID:</label>
            <input type="text" class="input-field" disabled value="{{ user.id }}"/>

            <label>Full name:</label>
            <input type="text" class="input-field" disabled value="{{ user.full_name }}"/>

            <label>Email:</label>
            <input type="text" class="input-field" disabled value="{{ user.email }}"/>

            <label>User type:</label>
            <input type="text" class="input-field" disabled value="{{ user.type }}"/>
        </form>
      </div>
    </div>
{% endblock %}
