{%  extends 'pages/base.html' %}

{% block title %}Create new task{% endblock %}

{% block content %}
    <div class="html-mobile-background"></div>
    <div class="flex-container center-flex">
      <div class="user-container">
        <h1>Create a task</h1>
          <form id="task-form" action="{{ url_for("teacher/class/tasks.create", class_id=cls.id) }}" method="POST" class="container user-form">
            <input type="text" hidden name="csrf_token" value="{{ csrf_token() }}"/>
            <label>Title:</label>
            {% if errors["title"] %}
              <span class="error">{{ errors["title"] }}</span>
            {% endif %}
            <input class="teacher-input-field" name="title" placeholder="Title" value="{{ state["title"] }}"/>
            <label>Description:</label>
            {% if errors["description"] %}
              <span class="error">{{ errors["description"] }}</span>
            {% endif %}
            <textarea class="teacher-textarea" name="description" form="task-form" placeholder="Description">{{ state["description"] }}</textarea>
            <label>Due date (dd/mm/yyyy):</label>
            {% if errors["due_at"] %}
              <span class="error">{{ errors["due_at"] }}</span>
            {% endif %}
            <br/>
            <input class="teacher-input-field eigth-width" type="text" value="{{ state["due_at[day]"] }}" name="due_at[day]" placeholder="dd"/>
            <input class="teacher-input-field eigth-width" type="text" value="{{ state["due_at[month]"] }}" name="due_at[month]" placeholder="mm"/>
            <input class="teacher-input-field eigth-width" type="text" value="{{ state["due_at[year]"] }}" name="due_at[year]" placeholder="yyyy"/>

            <label>Assignment type:</label>
            {% if errors["type"] %}
              <span class="error">{{ errors["type"] }}</span>
            {% endif %}
            <label class="type-select">
              <input type="radio" value="homework" name="type">
              <span>&nbsp;Homework</span>
            </label>

            <label class="type-select">
              <input type="radio" value="classwork" name="type">
              <span>&nbsp;Classwork</span>
            </label>

            <label class="type-select">
              <input type="radio" value="revision" name="type">
              <span>&nbsp;Revision</span>
            </label>

            <input type="submit" class="input-confirm" value="Create task"/>
          </form>
      </div>
    </div>
{% endblock %}
