{%  extends 'pages/base.html' %}

{% block title %}Manage class {{ cls.name }}{% endblock %}

{% block content %}
    <script>
      const deleteUser = (member_id) => {
        const headers = new Headers();
        headers.append("X-CSRFToken", "{{ csrf_token() }}")
        headers.append("Content-Type", "application/json")
        fetch("{{ url_for("teacher/class.details", class_id=cls.id) }}", { headers: headers, method: "DELETE", body: JSON.stringify({"user_id": member_id})}).then(() => window.location.reload());
      };
    </script>

    <div class="html-mobile-background"></div>
    <div class="flex-container center-flex">
      <div class="user-container">
        <h1>{{ cls.name }}</h1>
        <h3>Class code</h3>
        <pre class="class-code">{{ cls.code }}</pre>
        <h3>Class settings</h3>
          <a class="a-button" href="{{ url_for("teacher/class.edit", class_id=cls.id) }}">Edit class details</a>
          <a class="a-button" href="{{ url_for("teacher/class/tasks.view", class_id=cls.id) }}">Manage tasks</a>
        <h3>Members</h3>
        <table class="teacher-class-table">
          <thead>
            <th>Student name</th>
            <th>Student email</th>
            <th>Remove user</th>
          </thead>
          <tbody>
          {% for membership in cls.members %}
            <tr>
              <td>{{ membership.user.full_name }}</td>
              <td onmouseover="this.innerHTML = '{{membership.user.email}}'" onmouseout="this.innerHTML = 'Hover to reveal'">Hover to reveal</td>
              <td><button class="input-confirm destructive" onclick="deleteUser({{ membership.user.id }})">Remove</button></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  {% endblock %}
