name: Docker

on:
  push:
    branches:
      - main
  pull_request:

env:
  IMAGE_NAME: swot

jobs:
  test_docker_image:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Test build Docker image
        run: docker build . --file Dockerfile

  push_docker_image:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2

      - name: Build Docker image
        run: docker build . --file Dockerfile -t j03b/swot-backend/swot:${{ github.sha }}

      - name: Publish Docker
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: j03b/swot-backend/swot:${{ github.sha }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com

  deploy_to_kubernetes:
    runs-on: ubuntu-latest
    needs: [push_docker_image]
    
    steps:
      - uses: actions/checkout@v2

      - uses: Azure/k8s-set-context@v1
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBECONFIG }}
          
      - uses: Azure/k8s-deploy@v1
        with:
          namespace: 'default'
          manifests: |
            deployment.yaml
          images: 'docker.pkg.github.com/j03b/swot-backend/swot:${{ github.sha }}'
          imagepullsecrets: |
            githubpackage
          kubectl-version: 'latest'